.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    height: 20px;
}

.header-utilities nav {
    width: 18%;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav a, .logout-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.nav a:hover, .logout-button:hover {
    text-decoration: underline;
}