.tab-button {
    padding: 10px 20px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.tab-button:hover {
    color: #000;
}

.tab-button.active {
    color: #000;
    border-color: #000;
}

.table-wrapper {
    margin-top:50px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.table-wrapper thead {
    background-color: #f7f7f7;
    color: #666;
}

.table-wrapper td a {
    color: #1e40af;
    font-weight: bold;
    text-decoration: none;
}

.status-pending {
    color: #2563eb;
    font-weight: 600;
}

.status-approved {
    color: #16a34a;
    font-weight: 600;
}